

@import url('icomoon.css');
@import url(flaticon.css);
 
/*** 
=============================================
    Appointment area
=============================================
***/
.appointment-area {
    position: relative;
    display: block;
    background-position: top right;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
}
.map-content-box .sec-title .title{
    color: #1d1d1b;    
}

.map-content-box .inner{
    position: relative;
    display: block;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    z-index: 99;
}
.map-content-box .inner .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map-content-box .inner .overlay .single-location-box{
    position: absolute;
}
.map-content-box .inner .overlay .single-location-box.one {
    top: 54%;
    left: 20%;
}
.map-content-box .inner .overlay .single-location-box.two{
    top: 22%;
    left:71%;    
}
.map-content-box .inner .overlay .single-location-box.three{
    left: 32%; 
    bottom: 38%;
}
.map-content-box .inner .overlay .single-location-box.four{
    left: 40%;
    bottom: 25%;
}
.map-content-box .inner .overlay .single-location-box.five{
    left: 31%;
    bottom: 44%;
}
.map-content-box .inner .overlay .single-location-box.six{
    left: 36%;
    bottom: 37%;
}
.map-content-box .inner .overlay .marker-box span:before{
    font-size: 45px;
}

@media (max-width: 1409.98px) {
    .map-content-box .inner .overlay .single-location-box.one {
        top: 54%;
        left: 21%;
    }
    .map-content-box .inner .overlay .single-location-box.two{
        top: 22%;
        left:74%;    
    }
    .map-content-box .inner .overlay .single-location-box.three{
        left: 33%; 
        bottom: 38%;
    }
    .map-content-box .inner .overlay .single-location-box.four{
        left: 41%;
        bottom: 25%;
    }
    .map-content-box .inner .overlay .single-location-box.five{
        left: 31%;
        bottom: 44%;
    }
    .map-content-box .inner .overlay .single-location-box.six{
        left: 37%;
        bottom: 37%;
    }
    .map-content-box .inner .overlay .marker-box span:before{
        font-size: 40px;
    }
}

@media (max-width: 767.98px) {
    .map-content-box .inner .overlay .single-location-box.one {
        top: 48%;
        left: 19%;
    }
    .map-content-box .inner .overlay .single-location-box.two{
        top: 16%;
        left:73%;    
    }
    .map-content-box .inner .overlay .single-location-box.three{
        left: 32%; 
        bottom: 37%;
    }
    .map-content-box .inner .overlay .single-location-box.four{
        left: 40%;
        bottom: 23%;
    }
    .map-content-box .inner .overlay .single-location-box.five{
        left: 31%;
        bottom: 43%;
    }
    .map-content-box .inner .overlay .single-location-box.six{
        left: 36%;
        bottom: 38%;
    }
    .map-content-box .inner .overlay .marker-box span:before{
        font-size: 35px;
    }
}

@media (max-width: 575.98px) {
    .map-content-box .inner .overlay .single-location-box.one {
        top: 44%;
        left: 19%;
    }
    .map-content-box .inner .overlay .single-location-box.two{
        top: 10%;
        left:72%;    
    }
    .map-content-box .inner .overlay .single-location-box.three{
        left: 31%; 
        bottom: 36%;
    }
    .map-content-box .inner .overlay .single-location-box.four{
        left: 39%;
        bottom: 23%;
    }
    .map-content-box .inner .overlay .single-location-box.five{
        left: 31%;
        bottom: 44%;
    }
    .map-content-box .inner .overlay .single-location-box.six{
        left: 35%;
        bottom: 37%;
    }
    .map-content-box .inner .overlay .marker-box span:before{
        font-size: 30px;
    }
}

.map-content-box .inner .overlay .marker-box{
    display: inline-block;
}
.map-content-box .inner .overlay .marker-box span:before{
    color: #1d1d1b;
    line-height: 50px;
    cursor: pointer;
    opacity: 0.9;
}

.map-content-box .inner .overlay .location-info {
    position: absolute;
    left: -50px;
    bottom: 100px;
    width: 240px;
    opacity: 0;
    visibility: hidden;
    padding: 25px 0px 0px 30px;
    padding-right: 20px;
    margin-left: 0;
    border-radius: 0px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    z-index: 9999999999;
    overflow: scroll;
    max-height: 220px;
    overflow-x: hidden;

}

.map-content-box .inner .overlay .location-info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.map-content-box .inner .overlay .location-info::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.map-content-box .inner .overlay .location-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9A3820;
}

@media screen and (max-width: 880px) {
    .map-content-box .inner .overlay .location-info {
        width: 150px;
        font-size: 10px;
        padding: 12px 10px 0px 20px;
    }
}

.map-content-box .inner .overlay .single-location-box:hover .location-info  {
    opacity: 1;
    visibility: visible;
    bottom: 55px;
}
.map-content-box .inner .overlay .single-location-box:hover .marker-box span:before{
    opacity: 1.0;
    transition: all 500ms ease;
}
.map-content-box .inner .overlay .location-info h3{
    color: #27282c;
    font-weight: 700;
    margin: 0 0 13px;
}
.map-content-box .inner .overlay .location-info p{
    margin: 0;    
}


